@include('header')
<h2>Inicio de sesion</h2>
<br>
<form action="/api/auth/login" method="post">
  <input type="text" name="username" id="username" placeholder="Usuario">
  <input type="password" name="password" id="password" placeholder="Contraseña">
  <input type="submit" value="Inciar Sesion">
</form>
<br>

<a href="/register">Ir a Registro</a>

@include('footer')